.header {
    background-color: #ffffff;
     /* Геометрические свойства удалены */
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2e2f42;
    /* Del display and margin bottom and change line height = 1.33 */
}

.logo-span {
    color: #4d5ae5;
}

 /* Геометрические свойства .nav удалены */

.nav .nav-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
/* Убирал text and pudding */   
}

.nav .nav-link:hover,
.nav .nav-link:focus,
.nav .nav-link:active {
    color: #404bbf;
}

/* Стили картинки для контактов */
.address {
    font-style: normal;
}

.address .address-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455; /* Базовый серый цвет ссылок */
    /* Del display and padding */
    transition: color 250ms cubic-bezier(0.4, 0, 0, 0.2); /* Плавное изменение цвета */
}

/* Ховер-эффекты со скриншота */
.address .address-link:hover,
.address .address-link:focus {
    color: #404bbf; /* Синий цвет при наведении */
}
